
body{
	
	background: url(../img/imagem1.jpg)no-repeat left top;
	float:top;
	font-family:tahoma;
	font-size:15px;
	font-weight:bold;
	
	}

.t1{
			font-size:18;
			font-family:'Snap ITC';
			color:black;
		}
		
.t2{
float:down;


}
.t3{


}		
		
